body{
    background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
    font-size: 1.5em;
    font-family: @import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
    </style>;
    
}
h1{
    color: rgb(220, 20, 60);
    text-align: center;
    background-color: gold;
    font-weight: bold;
}
label{
    color: rgb(255, 127, 80);
    margin: 10px 10px 10px 10px;
}
input{
    padding: 10px 15px 10px 15px;
    color: rgb(255, 127, 80);
    margin: 15px 10px 15px 10px;
    width: 350px;
    height: 10px;
    background-color: darkgoldenrod;
}
select{
    font-size: 1em;
    background-color:gold;
    color: rgb(255, 127, 80);
}

